{% extends 'main.html' %}

{% load static %}
{% block content %}
<style>
    .chip{
    padding: .19rem;
    height: 52px;
    /* line-height: 52px; */
    border-radius: 5px;
    background-color: #324B4B;
    color:white;
}

</style>
<div class="container card my-3">
  <h1>{{title}}</h1> 
  {% for item in user.itemOwnerClone.all %}
    {% if item.id_filter == id %}
     <ul class="list-group list-group-flush fs-5">
      <li class="list-group-item my-2">
        {{item.title}} - {{item.amount}} &#8377
        
      
      <div class = "my-2">
            <span class="chip">{{item.tags}}</span>
        </div>
      </li>
      
    </ul>
    {% endif %}
  {% endfor %}
  </div>
{% endblock content %}